

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    /* background: silver; */
    background:  linear-gradient(rgba(137, 245, 111, 0.726), rgba(224, 110, 196, 0.877)), no-repeat; 
    /* 
    colocando uma imagem aleatória com algumas definições
    url("https://source.unsplash.com/random") no-repeat center center / 75% content-box 
    */
}

h1 h2 h3 {
    color: chocolate;
}

p {
    color: rgb(22, 21, 21);
    background: #b7f3f3;
    padding: 3%;
}

body::-webkit-scrollbar-button {
    background: magenta;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #cfc;
}

/* body::-webkit-scrollbar-track-piece {
    background: #fff;
} */

body::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 6px;
}